.featured__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: uppercase;
  
}

.featured__subtitle {
  font-size: var(--size-sm);
  text-transform: capitalize;
  font-weight: 400;
  color: var(--clr-indigo);
  margin-top: 5rem;
}

 

.featured__wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.featured__description{
    max-width: 60ch;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    margin: 1rem 0;
}


/* xs */
@media (min-width: 475px) {
  .featured__title {
    font-size: var(--size-3xl);
  }
  .featured__subtitle {
    font-size: var(--size-base);
  }
  .featured__link{
    width:var(--size-3xl) ;
    height:var(--size-3xl) ;
}
.featured__description{
    
    font-size: var(--size-base);
    margin: 1.5rem 0;
}

}
/* s */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
  .featured__title {
    font-size: var(--size-4xl);
  }
  .featured__subtitle {
    font-size: var(--size-lg);
  }
  .featured__link{
    width:var(--size-4xl) ;
    height:var(--size-4xl) ;
}
.featured__description{
    
    font-size: var(--size-lg);
    margin: 1.5rem 0;
}
}
/* xl */
@media (min-width: 1280px) {
  .featured__title {
    font-size: var(--size-5xl);
  }
  .featured__subtitle {
    font-size: var(--size-xl);
  }
   .featured__link{
    width:var(--size-5xl) ;
    height:var(--size-5xl) ;
}
.featured__description{
    
    font-size: var(--size-xl);
    margin: 2rem 0;
}
}
/* 2x/ */
@media (min-width: 1536px) {
}


